#chessboard {
  width: 500px;
  height: 500px;
  border: solid black 10px;
  display: flex;
}


.square-one {
  float: left;
  height: 50px;
  width: 50px;
  background-color: brown;
}

.square-two {
  float: left;
  height: 50px;
  width: 50px;
  background-color: beige;
}
