body {
  width: 600px;
  margin: 30px;
  font-family: Arial;
  position: relative;
}

#container {
  display: flex;
}

ul {
  font-weight: bold;
  font-size: 20px;
  list-style: none;
}

h1 {
  text-align: center;
}
#header {
  border: solid black 4px;
  text-align: center;
  font-size: 40px;
  background-color: lightblue;
}

#left {
  width: 125px;
  float: left;
  border-left: solid black 4px;
  background-color: lavender;
}

#center {
  width: 350px;
  padding: 10px;
  float: left;
  border-right: solid black 4px;
  border-left: solid black 4px;
  background-color: pink;
}

#right {
  width: 125px;
  float: right;
  border-right: solid black 4px;
  background-color: lavender;
}

#footer {
    border: solid black 4px;
    text-align: center;
    font-size: 40px;
    background-color: lightblue;
    clear: both;
}

